#tabs_options{
	background: #fff;
	border: 1px solid #cccccc;
}

#tabs_options ul,li{
	margin: 0;
	padding: 0;
}

#tabs_options .nav-tab{
	margin-left: 0;
	margin-right: 5px;
}

#tabs_options .ui-tabs-panel{
	padding: 20px;
	background: #fff;
}

#tabs_options .ui-state-default.ui-corner-top{
	margin-bottom:0;
}

#tabs_options .ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active a{
	background: #fff;
}

#tabs_options .ui-tabs-panel .form-table p label{
	font-size: 13px;
}

#tabs_options .ui-tabs-panel .form-table tr{
	border-bottom: 1px solid #eee;
}

#tabs_options .submit{
	margin-left: 20px;
}

#tab_kalories{
	padding: 20px;
	clear: both;
}
