fieldset {
    border: none !important;
    padding: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 20px !important;
}

button, input[type="button"], input[type="submit"] {
    background-color: #222;
    border: 0;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 800;
    line-height: 1;
    padding: 1em 2em;
    text-shadow: none;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
}

button:hover, input[type="button"]:hover{
    background: #767676 !important;
}

#mealDate{
	max-width: 200px;
	float: left;
	margin-right: 20px;
}

label{
	font-weight: 800;
}

#mealTimeH,#mealTimeM{
	width: 50px;
}